footer {
    position: fixed;
    bottom: 0;
}

table,
td {
    border-collapse: collapse;
    border: 1px solid #23434d;
    vertical-align: middle;
    text-align: center;
}

td {
    height: 50px;
    width: 80px;
}

.transformImg {
    transform: rotate(180deg);
    filter: grayscale(70%);
}

.row1 {
    background-color: #d3f3fd;
}

.row2 {
    background-color: #93b3bd;
}

.row3 {
    background-color: #73939d;
}