form,p{
    width: 100%;
    text-align: center;
}
label, input, p{
    font-size: 20px;
    margin: 5px;
}
[data-tooltip]::after{
    content: attr(data-tooltip);
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: 1s;
}
[data-tooltip]::after:hover{
    opacity: 1;
}